body {
    width: 300px;
    margin: 0;
    background: #F7F6F6;
    font-family: open sans, sans-serif;
}

body h1 {
    margin-left: 10px;
}

.material-icons {
    color: #004982;
    font-size: 1.5em;
    display: flex;
    margin-top: 5px;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.text-line {
    line-height: 30px;
}

.clickable {
    cursor: pointer;
}

.separator {
    height: 1px;
    background: #dad5d5;
    margin: 13px 8px;
}

#logo-standalone {
    position: absolute;
    height: 38px;
    margin: 8px;
}

#header-banner {
    height: 54px;
}

h1 {
    position: absolute;
    top: -6px;
    left: 48px;
    font-size: 2.2em;
    color: white;
}

.container h2 {
    text-transform: uppercase;
    font-weight: 500;
    color: #777776;
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 0;
    line-height: 30px;
}

.container .content {
    margin: 8px;
    border-radius: 4px;
    border: 1px solid #ccccc8;
    background: white;
    padding: 8px;
}

.links .content p {
    display: flex;
    justify-content: space-between;
    color: black;
    border-radius: 2px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.links .content p:last-child {
    margin-bottom: 0;
}

.links .content p a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.quicklinks {
    display: grid;
    grid-template-columns: 50% 50%;
}

.quicklinks > div:not(:nth-last-child(-n+2)) {
    margin-bottom: 16px;
}

.quicklinks i {
    display: unset;
    margin-top: unset
}

.quicklinks a {
    color: #004982;
    text-decoration: none;
    margin-left: 8px;
    display: flex;
    align-items: center;
}

.quicklinks a:hover {
    text-decoration: underline;
}


/** SWITCH **/
.toggle {
    margin: 4px 0 0 10px;
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.7rem;
}

.toggle input {
    display: none;
}

.roundbutton {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #33455e;
    display: block;
    transition: all 0.3s;
    border-radius: 1.7rem;
    cursor: pointer;
}

.roundbutton:before {
    position: absolute;
    content: "";
    height: 1.2rem;
    width: 1.25rem;
    border-radius: 100%;
    display: block;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: white;
    transition: all 0.3s;
}

input:checked + .roundbutton {
    background-color: #14c700;
}

input:checked + .roundbutton:before {
    transform: translate(1.4rem, 0);
}







